@import 'tailwindcss';

@import './topo.css';

:root {
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #66696c;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #a3a6aa;
}
