/*
 * Este arquivo CSS define os estilos para o componente Footer.
 * Ele utiliza o conceito de CSS Modules para escopar os estilos
 * e evitar conflitos de nomes de classes em outras partes da aplicação.
 */

.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

/*
 * Estiliza a lista de redes sociais.
 * - display: flex: Torna a lista um container flexbox, permitindo o alinhamento dos itens.
 * - justify-content: center: Centraliza os itens horizontalmente no container.
 * - align-items: center: Centraliza os itens verticalmente no container.
 * - list-style-type: none: Remove os marcadores da lista.
 */
.social_list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
}

/*
 * Estiliza os itens da lista de redes sociais.
 * - margin: 0 1em: Adiciona uma margem de 1em nos lados de cada item para espaçamento.
 */
.social_list li {
    margin: 0 1em;
}

/*
 * Estiliza os ícones SVG dentro da lista de redes sociais.
 * - font-size: 1.5em: Define o tamanho do ícone.
 * - cursor: pointer: Muda o cursor para um ponteiro ao passar sobre o ícone, indicando que é clicável.
 * - transition: 0.5s: Adiciona uma transição suave para a mudança de cor.
 */
.social_list svg {
    font-size: 1.5em;
    cursor: pointer;
    transition: 0.5s;
}

.social_list svg:hover {
    color: #ffbb33;
}

/*
 * Estiliza o parágrafo de copyright.
 * - margin-top: 2em: Adiciona uma margem de 2em no topo do parágrafo.
 */
.copy_right {
    margin-top: 2em;
}

/*
 * Estiliza o span dentro do parágrafo de copyright.
 * - font-weight: bold: Deixa o texto em negrito.
 * - color: #ffbb33: Define a cor do texto.
 */
.copy_right span {
    font-weight: bold;
    color: #ffbb33;
}
